services:
  backend:
    build:
      context: ./backend
    container_name: mindly-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: mindly-db
    environment:
      POSTGRES_DB: mindly_db
      POSTGRES_USER: mindly_admin
      POSTGRES_PASSWORD: mindly_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: