@import "tailwindcss";

/* No seu index.css */
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background: #2f3336;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3e4144;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

html { scrollbar-gutter: stable; }